@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary_color: #FFB4E2;
    --primary_color_dark: #e664b4;
    --text_color: rgb(227, 227, 227);
    --bg_color: linear-gradient(to right, #C7EDED,#FCE4E4);
    --secondary_color: #314CC8;
}

body{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.footprint_heading{
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
    color: var(--secondary_color);
    font-weight: bold;
}

.footprint_text{
    margin: 15px 0px;
    text-align: center;
    font-size: 20px;
    color: var(--primary_color_dark);
    width: 80vw;
}

form{
    /* width: 80vw; */
    margin: 0 8vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sub_heading{
    color: var(--secondary_color);
    font-size: 24px;
    padding: 10px 20px;
}

.grid_div{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 40vw;
}

.grid_div > div{
    margin: 15px;
}

input{
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    display: inline-block;
    color: var(--primary_color_dark);
    padding: 0px 10px;
}

label{
    color: var(--secondary_color);
}

.submit_div{
    display: flex;
    justify-content: flex-start;

}

.submit{
    background-color: transparent;
    color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
    font-size: 15px;
    margin: 20px;
}

.more_addn{
    color: var(--secondary_color);
    font-size: 20px;
}
